/* CSS HEX */
/* --federal-blue: #03045eff;
--honolulu-blue: #0077b6ff;
--pacific-cyan: #00b4d8ff;
--non-photo-blue: #90e0efff;
--light-cyan: #caf0f8ff; 
https://coolors.co/palette/03045e-0077b6-00b4d8-90e0ef-caf0f8
*/

body {
    background-color: #2B2D42;
    color: #D90429 ;
}

img {   
    width: 300px;
    border: 5px solid black;
    border-radius: 10px; 
}
#imgg{
    background-color: white;
}

h1{
    color: #03045E;
}

h2{
    color: #03045E;
}

h3{
    color: #03045E;
}